.component {
    display: flex;
    flex-direction: row;
    margin: 3em 0em 3em 0em;
    align-items: center;
}

.musicPlayerCard {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.musicPlayerImage img {
    position: absolute;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    /* border: 1px solid white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.musicPlayerDetails h3 {
    font-size: 1.2em;
    margin: 0em;
}

.musicPlayerDetails p {
    margin: 0.2em 0em;
}

.musicPlayerImage {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    position: relative;
    animation: spin 5s linear infinite;
}

.musicPlayerDetails {
    margin-left: 1em;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.text p {
    margin: 0em 0em 0em 1em;
}